<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badminton programs seeker in the City of Toronto</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block custom_css %}
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
    <div class="container text-center">
      <div class="p-3 mb-2 bg-danger text-white">{{ message }}</div>
    </div>

    {% endfor %}
      <div id="main_container">
        {% block main %}
        {% endblock %}
    </div>
</body>
</html>