{% extends 'base.html' %}

{% block main %}
    <h1>{{ program }} programs seeker in the City of Toronto</h1>

    <form action="/search" method="post">
        <label for="postcode">Postal code</label>
        <input type="text" class="form-control" name="postcode" id="postcode" value="{{ postcode }}">
        <br>
        <label for="limit">Nearest Recreation Centres</label>
        <input type="number" class="form-control" name="limit" id="limit" value="{{ limit }}" min="1" max="164">
        <br>
        <input type="hidden" name="program" value="{{ program }}" required>
        <input type="submit" value="Search">
    </form>

    {% if results %}
    <h2>{{ program }} programs found (Total: {{ total }}):</h2>
    <a href="/export?postcode={{ postcode }}&program={{ program }}" target="_blank">Download</a>
    <section>
        <h4>Location</h4>
        <h4>Day</h4>
        <h4>Timeslot</h4>
        <h4>Age</h4>
        {% for item in results %}
            <span><a href="{{ item.url }}" target="_blank">{{ item.location }}</a></span>
            <span>{{ item.day }}</span>
            <span>{{ item.timeslot }}</span>
            <span>{{ item.age }}</span>
        {% endfor %}
    </section>
    {% endif %}

{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
{% endblock %}
